<h1> Informações sobre o Diretor: <%= @director.name %></h1>

<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
<% end%>

<%= link_to 'Editar', edit_director_path %>

<dl>
  <dt>
    <strong>Name:</strong> <%= @director.name %>
  </dt>
  <dd>
    <strong> Nacionalidade: </strong> <%= @director.nationality %>
  </dd>
  <dd>
    <strong> Aniversário: </strong> <%= @director.data_birth %>
  </dd>
  <dd>
    <strong> Gênero Favorito: </strong> 
    <% if @director.favorite_genre_id %>
      <%= link_to @director.favorite_genre.name, genre_path(@director.favorite_genre_id) %>
    <% end %>
  </dd>
<dl>

<h2>Filmes:</h2>
<% Movie.where(director_id: @director.id).each do | movie | %> 
  <%= link_to movie.title, movie %>
  <br />
<% end %>